body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.kt_toolbar{
  background-color: black;
}
#delete-btn{
  background-color: #f5f8fa;
  margin-left : 5px
}
.register{
  color: rgb(146, 146, 146);
  font-weight:bold;
  cursor: pointer;
  align-self: center;
}
.registeredUser{
  background-color: white;
}
.gray{
  color : rgb(68, 68, 68);
  font-weight:bold
}
.csv{
  background-color: #a1a5b7;
  padding:5px;
  border-radius:5px;
  color:white;
  font-weight: bold;
  margin-left:30px
}