body {
  margin: 0;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New',
    monospace;
}
.kt_toolbar{
  background-color: black;
}
#delete-btn{
  background-color: #f5f8fa;
  margin-left : 5px
}
.register{
  color: rgb(146, 146, 146);
  font-weight:bold;
  cursor: pointer;
  align-self: center;
}
.registeredUser{
  background-color: white;
}
.gray{
  color : rgb(68, 68, 68);
  font-weight:bold
}
.csv{
  background-color: #a1a5b7;
  padding:5px;
  border-radius:5px;
  color:white;
  font-weight: bold;
  margin-left:30px
}
.logo{
  box-shadow: 0px 0px 10px #f1416c;
  max-width: 3.5%;
  border-radius: 28%;
  margin-right:1%;
}
.home-box{
 background-color: gray;
 display:flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;
 height:100%;
 width:100%
}
.dabba{
  width:50%
}
.profile_img{
  width:42px;
  border-radius: 29px;

}


/* ================= */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.table {
	border-spacing: 0 15px;
	border-collapse: separate;
}
.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1),
.table thead tr td:nth-last-child(1),
.table tbody tr th:nth-last-child(1),
.table tbody tr td:nth-last-child(1) {
	text-align: center;
}
.table tbody tr {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}




.user-info {
	display: flex;
	align-items: center;
}
.user-info__img img {
	margin-right: 15px;
	height: 55px;
	width: 55px;
	border-radius: 45px;
	border: 3px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.active-circle {
	height: 10px;
	width: 10px;
	border-radius: 10px;
	margin-right: 5px;
	display: inline-block;
} 
.container{
 margin-top:125px 
}
.user-row{
  padding:100px;
  background-color: #f1416c;
}




.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}

.sub-box{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 
.App {        
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
} */

.user {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #b3e3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 20px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #921f4a;
  color: #921f4a;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #921f4a;
}

.paginationActive a {
  color: white ;
  background-color: #921f4a;
}

/* .paginationDisabled a {
  color: grey;
  background-color: grey;
} */
.user-table{
  width:80%;
  align-self: center;
}






body{
  background-color: #f3f6f8;
  margin-top:20px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.profile-user-box {
  position: relative;
  border-radius: 5px
}
.bg-custom {
  background-color: #02c0ce!important;
}
.profile-user-box {
  position: relative;
  border-radius: 5px;
}

.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
}
.inbox-widget .inbox-item img {
  width: 40px;
}

.inbox-widget .inbox-item {
  border-bottom: 1px solid #f3f6f8;
  overflow: hidden;
  padding: 10px 0;
  position: relative
}

.inbox-widget .inbox-item .inbox-item-img {
  display: block;
  float: left;
  margin-right: 15px;
  width: 40px
}

.inbox-widget .inbox-item img {
  width: 40px
}

.inbox-widget .inbox-item .inbox-item-author {
  color: #313a46;
  display: block;
  margin: 0
}

.inbox-widget .inbox-item .inbox-item-text {
  color: #98a6ad;
  display: block;
  font-size: 14px;
  margin: 0
}

.inbox-widget .inbox-item .inbox-item-date {
  color: #98a6ad;
  font-size: 11px;
  position: absolute;
  right: 7px;
  top: 12px
}

.comment-list .comment-box-item {
  position: relative
}

.comment-list .comment-box-item .commnet-item-date {
  color: #98a6ad;
  font-size: 11px;
  position: absolute;
  right: 7px;
  top: 2px
}

.comment-list .comment-box-item .commnet-item-msg {
  color: #313a46;
  display: block;
  margin: 10px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px
}

.comment-list .comment-box-item .commnet-item-user {
  color: #98a6ad;
  display: block;
  font-size: 14px;
  margin: 0
}

.comment-list a+a {
  margin-top: 15px;
  display: block
}

.ribbon-box .ribbon-primary {
  background: #2d7bf4;
}

.ribbon-box .ribbon {
  position: relative;
  float: left;
  clear: both;
  padding: 5px 12px 5px 12px;
  margin-left: -30px;
  margin-bottom: 15px;
  font-family: Rubik,sans-serif;
  -webkit-box-shadow: 2px 5px 10px rgba(49,58,70,.15);
  -o-box-shadow: 2px 5px 10px rgba(49,58,70,.15);
  box-shadow: 2px 5px 10px rgba(49,58,70,.15);
  color: #fff;
  font-size: 13px;
}
.text-custom {
  color: #02c0ce!important;
}

.badge-custom {
  background: #02c0ce;
  color: #fff;
}
.badge {
  font-family: "Rubik",sans-serif;
  -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
  box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
  padding: .35em .5em;
  font-weight: 500;
}
.text-muted {
  color: #98a6ad!important;
}

.font-13 {
  font-size: 13px!important;
}
